<div class="container">
    <h1 class="title">Carrito</h1>
    
    <nav>
        <div class="buttonNav">
            <a href="/">Productos</a>
        </div>
        <div class="buttonNav">
            <a href="/profile">Perfil</a>
        </div>
    </nav>
    
    <div class="cartProducts">
        {{#if cart.products.length}}
        <ul>
            {{#each cart.products}}
                <li>
                    {{this.product.title}}: {{this.quantity}}
                    <input type="number" min="1" max="{{this.product.stock}}" value="{{this.quantity}}" id="quantity-{{this.product._id}}">
                    <button class="product-button" onclick="updateQuantity('{{this.product._id}}')">Actualizar Cantidad</button>
                    <button class="product-button" onclick="removeProduct('{{this.product._id}}')">Eliminar</button>
                </li>
            {{/each}}
        </ul>
        <button class="removeAll-button" onclick="removeAllProducts()">Eliminar Todos los Productos</button>
        <hr>
        <a href="/cart/{{cart._id}}/checkout" class="checkout-button">Avanzar a la Compra</a>
        {{else}}
        <h2>No hay productos en el carrito</h2>
        {{/if}}
    </div>
</div>
<script src="/js/cart.js"></script>